.cell {
  border: 1px solid black;
  overflow: hidden;
}
.cell textarea {
  resize: none;
  margin: 2;
  padding: 0;
  border: 0;
  float: left;
}
.cell span {
  float: left;
  margin: 0;
}
.cell-selected {
  background-color: aquamarine;
}

.marker {
  height: 20px;
  width: 20px;
  color: black;
  background-color: lightgray;
  border: 1px solid black;
  text-align: center;
}
.marker-selected {
  color: white;
  background-color: darkcyan;
}
